:root {
    --main-green: #1DB954;
    --main-black: #191414;
    --web-big-text: 36px;
}
/*Basic configuration */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-black);
    color: white;
    margin: 0;
    padding: 0;
}
.login-btn {
    background-color: #FFAF45;
    color: white;
    border-radius: 15px;
    width: 25%;
    margin: auto;
}
.login-btn:hover{
    background-color: aqua;
    color: black;
}
h1{
    font-size: var(--web-big-text);
    text-align: center;
    color: var(--main-green);
    font-weight: 700;
    margin: 35px auto;
}

/* User information */
.user-container img{
    border-radius: 20%;
}
.user-container h2{
    font-size: 24px;
    margin: 15px;
}
/* Top 5 songs */
.track-container{
    background-color: #535353;
    border-radius: 15px;
    padding: 15px;
}
.track-container img{
    width: 150px;
}
.track-container h4{
    font-size: 20px;
}
.track-container p{
    font-size: 16px;
}